[submodule "src/vendor/mongoose"]
	path = src/vendor/mongoose
	url = git://github.com/LearnBoost/mongoose.git
[submodule "src/vendor/socket.io-node"]
	path = src/vendor/socket.io-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
